# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binaries
*.bin
*.elf
*.hex
*.map

# Eclipse workfiles
*.xml

# CooCox workfiles
*.cogui
*.comarker
*.coproj
*.pbxproj
*.comemgui
