#
#Tue Aug 21 22:47:39 EEST 2012
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
org.coocox.codebugger.gdbjtag.core.adapter=ST-Link
org.coocox.codebugger.gdbjtag.core.jflashtool=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.coredebugInRam=false
org.coocox.codebugger.gdbjtag.core.jlinkResetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.core.clockDiv=2M
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.targetEndianess=0
org.coocox.codebugger.gdbjtag.core.userDefineGDBScript=
org.coocox.codebugger.gdbjtag.core.ifSemihost=false
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=G\:/CoIDE/flash/STM32F10x_MD_128.elf
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
